# Qdrant Configuration
QDRANT_HOST="localhost"
QDRANT_PORT="6333"
QDRANT_URL="<YOUR QDRANT CLOUD ENDPOINT>"
QDRANT_API_KEY="<YOUR QDRANT API KEY>"

# Gemini API
GEMINI_API_KEY="<YOUR GEMINI API KEY>"
